.cart {
  background: #000;
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 300px;
  overflow-x: auto;
}

.cart img {
  aspect-ratio: 16/12;
  max-width: 100%;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #09f;
  border-radius: 9999px;
  /* padding: 8px; */
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #09f;
  border-radius: 9999px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  padding: 4px;
  position: fixed;
  right: 8px;
  top: 3px;
  transition: scale 0.3s ease;
  z-index: 9999;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked + .cart {
  height: 100%;
  display: block;
}
